@font-face {
    font-family: JetBrainsMono;
    src: url(https://cdn.icnet.dev/web/drgn/patchnotes/css/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff)
}

@font-face {
    font-family: JetBrains-Mono-Medium;
    src: url(https://cdn.icnet.dev/web/drgn/patchnotes/css/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Medium.woff)
}