@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
:root {
  /* For writing text on either the background or the primary color.*/
  --clr-fg: #efefef;

  /* For the UI background. */
  --clr-bg: #1c3e5b;

  /* Darker accent of the primary color. */
  --clr-pdark: #027bce;

  /* The primary blue color. */
  --clr-primary: #0495ff;

  /* Lighter accent of the primary color. */
  --clr-plight: #4bb3fd;
}
* {
  box-sizing: border-box;
}
body,
html {
  font-family: Rubik;
  margin: 0;
  padding: 0;
}

.btp {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 110px;
  margin-bottom: 0px;
}
.btp p {
  margin: 0;
  margin-left: 15px;
}
.btp a:nth-child(1) {
  color: #0495ff;
  text-decoration: none;
}
.btp a:nth-child(2) {
  text-decoration: none;
  color: black;
}