@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap);

:root {
    /* BLUE
    --clr-fg: #efefef;
    --clr-bg: #1c3e5b;
    --clr-pdark: #027bce;
    --clr-primary: #0495ff;
    --clr-plight: #4bb3fd
    */

    /* ORANGE */
    --clr-fg: #EFF1F3;
    --clr-bg: #37393A;
    --clr-pdark: #DE4F3F;
    --clr-primary: #EF852E;
    --clr-plight: #FFC247
}

*
{
    box-sizing: border-box
}

body, html
{
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0
}

.btp
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 0
}

.btp p
{
    margin: 0 0 0 15px;
}

.btp a:nth-child(1)
{
    color: var(--clr-pdark);
    text-decoration: none
}

.btp a:nth-child(2)
{
    text-decoration: none;
    color: #000
}